body {
  margin-bottom: 5000px;
}

.space-around {
  margin: 20px;
}

.center {
  margin: 0 auto;
}

.bottom-margin {
  margin-bottom: 0px;
}

.centered {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

@media only screen and (max-width: 415px) {
  .centered {
    top: 15%;
  }
  .caption {
    font-size: 20px !important;
    font-weight: 200;
  }

  .subtitle {
    font-size: 15px !important;
  }

  .thank-you {
    top: 10%;
  }
}

@media only screen and (max-width: 350px) {
  .centered {
    top: 10%;
  }

  .caption {
    font-size: 10px;
    font-weight: 200;
  }

  .thank-you {
    top: 10%;
  }
}

.caption {
  font-size: 30px;
  font-weight: 200;
}

.subtitle {
  font-size: 20px;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 100;
}

.responsive {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.logo-thankyou {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.form {
  border: none;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  background-color: #23ba45;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
